body{
    margin: 0px;
    padding: 0px;
}

#cabeca{
    width: 100%;
    height: 234px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url('../img/cabeca.png')
    align-items: center;
}
div.borda{

    border: 1px solid rgb(54, 0, 248);
    border-radius: 4px;
}
#cabeca div{
    float: left;
}

.emitente{
    width: 560px;
    height: calc(160px / 1.5);
    text-align: center;
    vertical-align: middle;
   
}
.emitente table{
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.danfe{
    width: 230px;
    height: calc(160px / 1.5);
}

.chave{
    width: 560px;
    height: calc(79px / 1.5);
}
.auto{
    width: 560px;
    height: calc(79px / 1.5);
}
.natureza{
    width: 792px;
    height: calc(33px / 1.5);
}
.protocolo{
    width: 560px;
    height: calc(33px / 1.5);
}
.ie{
    width: 450px;
    height: calc(33px / 1.5);
}
.ies{
    width: 450px;
    height: calc(33px / 1.5);
}
.cnpj-emit{
    width: 450px;
    height: calc(33px / 1.5);
}