/*Configurações Gerais do XSLT */
body{
    margin: 0px;
    padding: 0px;
}

.container {
border: 1px solid black; 
text-align: left; /* Alinhe o conteúdo ao centro horizontalmente */
margin: 4px; /* Adicione margem ao redor da div */
border: 1px solid #000;
}

.aligned-input {
margin: 2px; /* Adicione margem ao redor do input */
padding: 2px; /* Adicione preenchimento interno ao input */

}

 #totais th{
    height: 40px;

}

#totaisNfs td{
    text-align: center;
    color: rgb(46, 12, 125);
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
}


#tudo{
    display: none;
}

.t{
    width: calc(100% /2);
    float: left;
    margin-bottom: 2px;
}
.t td{
border-radius: 4px;
border: rgb(0, 0, 0)
}

.vencimento{
float: left;
padding: 4px;
}


.GeralXslt {
font-size: 11px;
font-family: Arial, Times, serif;
text-transform: uppercase;
background-color: transparent;
padding: 0px;
}


.box {
width: 100%;
border: 1px solid #c7a460;
background-color: #f4edd5;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

.divbox {
width: 99.8%;
border: 1px solid #c7a460;
background-color: #d0daced5;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#frete{
display: none;
}

#tpNF{
display: none;
}

.box label {
    display: block;
    text-transform: none;
    font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
    font-size: 11px;
    min-height: 15px;
    font-weight: normal;
    color: #6f5e39;
    text-align: left;
    padding: 2px;
}

div.tbl-aut-uso {
background-color: #eee;
border-radius: 5px;
padding: 2px 2px 2px 2px;
}

.toggle {

border: solid 1px rgb(236, 236, 236);
}

.toggle td, th {

    border: solid 1px #d6c39e;
    background-color: #fff;/* #fbfbf5;*/
}

.table-row {
        cursor: pointer;
        transition: background-color 0.3s; /* Efeito de transição para a mudança de cor */
}

        .table-row.selected {
          background-color: #ffcccb; /* Cor de fundo para linhas selecionadas */
}

.table-row td, th{
padding-left: 5px;
padding-right: 5px;
}

.tot {
background-color:#302E2E;
}

.tot th {
background-color:#8f8d8d;
}

