.nitem{
    width: 3px;
}
.ref{
    width: 7px;
}
.desc{
    width: 50%;
padding: 0px;
}


/*

.desc
.ncm
.cst
.cfop
.cest
.emb
.quant
.vunit
.vtot
.desc
.desp
.bicms
.vicms
.bicmsst
.vicmsst
.vipi
.aliq
.valor

*/