/*Configurações Gerais do XSLT */
    body{
        margin: 0px;
        padding: 0px;
    }
	
	
	
    div#divarquivo{
        margin: 4px;
        border: 1px solid black;
    }
    #tudo{
        display: none;
    }
.t{
	width: calc(99.8% /2);
	float: left;
	margin-bottom: 5px;
}
.t td {
    border-radius: 4px;
    border: rgb(0, 0, 0)

	padding: 10px;
	white-space: nowrap; /* Evitar quebrar a linha */
	overflow: hidden;
	text-overflow: ellipsis; /* Exibir "..." para texto cortado */
	max-width: 100px; /* Largura máxima da célula */
	cursor: pointer; /* Adicionar um cursor de mão */
	
}

    .c1{
        padding-left: 0px;
        text-align: left;
        border: solid 1px #d6c39e;
        background-color: #fff;
        width: 30px;
        }
    .c2{
        padding-left: 0px;
        text-align: right;
        border: solid 1px #d6c39e;
        background-color: #fff;
        width: 75px;
        }

.vencimento{
    float: left;
    padding: 4px;
}
.danfe{
    width: 105px;
    height: 51px;
    border: solid 1px #d6c39e;
    margin: 4px;
}
.danfe h5{
    text-align: end;
}
.num{
    text-align: end;
}

.GeralXslt {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 1px;
}
.GeralXslt-vencimento {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 1px;
}


    .GeralXslt table {
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 8px;
        /*padding-top: 5px;*/
    }



    .GeralXslt a:link {
        font-size: 11px;
        color: #d2965c;
        /*text-decoration: underline;*/
    }



    .GeralXslt fieldset {
        border: solid 0px transparent;
        margin-top: 0px;
        padding: 0px;
        /*clear: both;*/
        background-color: transparent;
    }

    .GeralXslt h5.toggle {
        padding-left: 20px;
        background-position: 0px 0px;
    }

    .GeralXslt h5.opened {
        padding-left: 20px;
        background-position: 0px 0px;
    }

    .GeralXslt h5 {
        padding: 0px;
        margin: 0px;
        font-size: 11px;
    }

.titulo-aba, fieldset legend .titulo-aba {
    text-align: center !important;
    border: 0px solid transparent;
    /*margin-bottom: 5px !important;
    padding-top: 5px !important;*/
    padding: 15px 2px 10px 2px;
    margin: 0px 0px 7px 0px;
    font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
}

.GeralXslt fieldset legend {
    text-align: left;
    border: none;
    font-size: 14px;
    height: 15px;
    font-weight: bold;
    width: 98%;
    display: block;
    /*padding: 0px 0px 8px 20px;
    margin: 5px 0px 0px 0px;*/
    vertical-align: middle;
    color: #b27235;
    background: none;
    border: none;
    /* text-transform: capitalize; */
    font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
}

.fieldset legend {
    padding: 15px 2px 10px 2px;
}


.fieldset-internal {
    color: #302E2E;
    font-weight: bolder;
    background-color: #FFF;
    border: solid 1px #c7a460;
}

.box {
    width: 99.8%;
    border: 1px solid #c7a460;
    background-color: #f4edd5;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	

}
.divbox {
	position: relative;
    width: 99.8%;
    border: 1px solid #c7a460;
    background-color: #d0daced5;
    
}

.cx1{
	height: 70px;
}

.cx2{
	height: 55px;
	display: flex;
    align-items: center;
}

#frete{
    display: none;
}
#tpNF{
    display: none;
}

    .box label {
        display: block;
        /*min-height: 19px;
    height: auto;*/
        text-transform: none;
        vertical-align: middle;
        /*padding: 4px 0px 0px 6px;*/
        font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
        font-size: 11px;
        min-height: 15px;
        font-weight: normal;
        color: #6f5e39;
        text-align: left;
        padding: 2px;
    }

    .box span {
        height: auto !important;
        height: 15px;
        min-height: 15px;
        display: block;
        background-position: center;
        border: solid 1px #d6c39e;
        background-color: #fbfbf5;
        padding: 2px 2px 2px 6px;
    }
/*
    .box td {
        vertical-align: top;
    } alinha o texto na parte de cima
*/
tr.col-10 td {
    width: 10%;
}

tr.col-5 td {
    width: 20%;
}

tr.col-4 td {
    width: 25%;
}

tr.col-3 td {
    width: 33.333%;
}

tr.col-2 td {
    width: 50%;
}

.notprint {
    overflow: hidden;
    display: none;
}

i.eng {
    font-size: 9px;
}


div.tbl-aut-uso {
    background-color: #eee;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}

    div.tbl-aut-uso span.subtitle {
        font-weight: bolder;
        background-color: #eee;
        font-size: 11px;
    }

    div.tbl-aut-uso table {
        background-color: White;
        padding-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

        div.tbl-aut-uso table td {
            font-family: Verdana, Arial, Helvetica;
            font-size: 11px;
        }

            div.tbl-aut-uso table td.itm {
                padding-left: 20px;
                width: 25%;
            }

            div.tbl-aut-uso table td.val {
                padding-left: 20px;
            }



span#tipo-ambiente {
    border: 1px solid #880;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bolder;
    background-color: #ffc;
    height: 20px;
}

    span#tipo-ambiente img {
        margin-top: 2px;
    }





/* Controle visualização extra */

.toggle {
    background: url('../imagens/ico_mais.gif' ) no-repeat 8px 0px;
        background-color: #ece8df;
    cursor: pointer;
    background-position: 6px 6px;
    padding-left: 0px;
    text-indent: 0px;
    border: solid 3px rgb(236, 236, 236);
}
 .toggle span {
        height: auto !important;
        min-height: 15px;
        display: block;
        background-position: center;
        border: solid 0px transparent;
        background-color: transparent;
        padding: 2px 2px 2px 6px;
    }



.toggle td, th {
    
        border: solid 1px #d6c39e;
        background-color: #fff;/* #fbfbf5;*/
}




.togglable .box {
        border: solid 0px transparent;
}



.nft {
    display: none;
}

.bigger {
    width: 200px;
}

.aba_container {
    padding: 15px 2px 10px 2px;
    margin: 0px 0px 7px 0px;
    background-color: #fcfaf6;
    border: solid 1px #f7e2c2;
}





.desc {
    width: 40%;
}

.ref {
    width: 7%;
}

.container {
border: 1px solid black; 
text-align: left; /* Alinhe o conteúdo ao centro horizontalmente */
margin: 4px; /* Adicione margem ao redor da div */
border: 1px solid #000;
}

.aligned-input {
margin: 2px; /* Adicione margem ao redor do input */
padding: 2px; /* Adicione preenchimento interno ao input */

}

 #totais th{
    height: 40px;

}

#totaisNfs td{
    text-align: center;
    color: rgb(46, 12, 125);
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
}
