/*Configurações Gerais do XSLT */
    body{
        margin: 0px;
        padding: 0px;
    }
	
	
	
    div#divarquivo{
        margin: 4px;
        border: 1px solid black;
    }
    #tudo{
        display: none;
    }
.t{
	width: calc(99.8% /2);
	float: left;
	margin-bottom: 5px;
}
.t td {
    border-radius: 4px;
    border: rgb(0, 0, 0)

	padding: 10px;
	white-space: nowrap; /* Evitar quebrar a linha */
	overflow: hidden;
	text-overflow: ellipsis; /* Exibir "..." para texto cortado */
	max-width: 100px; /* Largura máxima da célula */
	cursor: pointer; /* Adicionar um cursor de mão */
	
}

    .c1{
        padding-left: 2px;
        text-align: left;
        border: solid 1px #d6c39e;
        background-color: #fff;
        width: 40px;
        }
    .c2{
        padding-rigth: 2px;
        text-align: right;
        border: solid 1px #d6c39e;
        background-color: #fff;
        width: 80px;
        }

.vencimento{
    float: left;
    padding: 4px;
}
.danfe{
    width: 105px;
    height: 51px;
    border: solid 1px #d6c39e;
    margin: 4px;
}
.danfe h5{
    text-align: end;
}
.num{
    text-align: end;
}





.GeralXslt {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    padding: 1px;
}




.box {
    width: 99.8%;
    border: 1px solid #c7a460;
    background-color: #f4edd5;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
	

}
.divbox {
	position: relative;
    width: 99.8%;
    border: 1px solid #c7a460;
    background-color: #d0daced5;
    
}

.cx1{
	height: 70px;
}

.cx2{
	height: 55px;
	display: flex;
    align-items: center;
}

#frete{
    display: none;
}
#tpNF{
    display: none;
}

    .box label {
        display: block;
        /*min-height: 19px;
    height: auto;*/
        text-transform: none;
        vertical-align: middle;
        /*padding: 4px 0px 0px 6px;*/
        font-family: Trebuchet MS, Arial, Verdana, Helvetica, sans-serif;
        font-size: 11px;
        min-height: 15px;
        font-weight: normal;
        color: #6f5e39;
        text-align: left;
        padding: 2px;
    }

    .box span {
        height: auto !important;
        height: 15px;
        min-height: 15px;
        display: block;
        background-position: center;
        border: solid 1px #d6c39e;
        background-color: #fbfbf5;
        padding: 2px 2px 2px 6px;
    }
/*
    .box td {
        vertical-align: top;
    } alinha o texto na parte de cima
*/
tr.col-10 td {
    width: 10%;
}

tr.col-5 td {
    width: 20%;
}

tr.col-4 td {
    width: 25%;
}

tr.col-3 td {
    width: 33.333%;
}

tr.col-2 td {
    width: 50%;
}

.notprint {
    overflow: hidden;
    display: none;
}



div.tbl-aut-uso {
    background-color: #eee;
    border-radius: 5px;
    padding: 2px 2px 2px 2px;
}


    div.tbl-aut-uso table {
        background-color: White;
        padding-top: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
    }

        div.tbl-aut-uso table td {
            font-family: Verdana, Arial, Helvetica;
            font-size: 11px;
			padding-left: 2px;
			padding-right: 2px;
        }



table.table-row th{
	padding: 2px;
}

span#tipo-ambiente {
    border: 1px solid #880;
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bolder;
    background-color: #ffc;
    height: 20px;
}

    span#tipo-ambiente img {
        margin-top: 2px;
    }





/* Controle visualização extra */





.toggle td, th {
    
        border: solid 1px #d6c39e;
        background-color: #fff;/* #fbfbf5;*/
}




.togglable .box {
        border: solid 0px transparent;
}



.nft {
    display: none;
}

.bigger {
    width: 200px;
}

.aba_container {
    padding: 15px 2px 10px 2px;
    margin: 0px 0px 7px 0px;
    background-color: #fcfaf6;
    border: solid 1px #f7e2c2;
}





.desc {
    width: 40%;
}

.ref {
    width: 8.5%;
}

.container {
border: 1px solid black; 
text-align: left; /* Alinhe o conteúdo ao centro horizontalmente */
margin: 4px; /* Adicione margem ao redor da div */
border: 1px solid #000;
}

.aligned-input {
margin: 2px; /* Adicione margem ao redor do input */
padding: 2px; /* Adicione preenchimento interno ao input */

}

 #totais th{
    height: 40px;

}

#totaisNfs td{
    text-align: center;
    color: rgb(46, 12, 125);
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
}
